*{
    margin: 0;
   
    padding: 0;
    
}
    
    .game {
          text-align: center;
          font-family: sans-serif;
          background-color: rgba(70, 88, 88, 0.615);
          color: aquamarine;
        }
        .board {
          display: inline-block;
          margin-top: 20px;
        }
        .board-row {
          display: flex;
        }
        .square {
          width: 60px;
          height: 60px;
          margin: 5px;
          font-size: 24px;
          cursor: pointer;
          background: #fff;
          border: 2px solid #000;
        }
        .restart {
          margin-top: 20px 20px 0 60px                                                                                                                                                                                                         ;
          padding: 10px 20px;
          font-size: 16px;
          display: flex;
          justify-content: center;
          justify-items: center;
        }